.gallery {
    --content-width: 570px;
    --gutter: 1rem;
    --columns: 3;
    --row-size: calc(
        (var(--content-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)
    );

    display: grid;

    width: 100%;
    max-width: var(--content-width);

    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: var(--row-size);

    grid-column-gap: var(--gutter);
    grid-row-gap: var(--gutter);

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &.layout-full {
        --columns: 2;
    }

    &.layout-part {
        --columns: 3;
        .gallery__item--1 {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 1;
        }
    }

    &.layout-square {
        display: unset;
    }

    &.layout-1 {
        display: unset;
        .gallery__item--1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;
        }
    }

    &.layout-2 {
        --columns: 2;
    }

    &.layout-3 {
        .gallery__item--1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .gallery__item--3 {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
        }
    }

    &.layout-4 {
        --columns: 2;
    }

    &.layout-5 {
        .gallery__item--1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .gallery__item--2 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }

    img {
        margin-bottom: unset;
    }
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item {
    &:empty {
        border: 1px dashed #DDDDDD;
    }
}
