@media all and (min-width: 1690px) {
    .container {
        max-width: 1060px;
    }
}

@media all and (max-width: 1690px) {
    .container {
        max-width: 1060px;
    }
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 980px) {

}

@media all and (min-width: 736px) {
    .is-right-desktop {
        justify-content: flex-end;
    }
}

@media all and (max-width: 736px) {
    .pop-gallery {
        .hero-head {
            .container {
                padding: 0;
            }
        }
    }
}

@media all and (max-width: 480px) {
    .main-content,
    .header {
        margin-left: 45px;
    }
    .header {
        .container {
            padding: 0;
        }
    }

    .bar {
        z-index: 99;
        width: 0;
        margin-left: -45px;
        padding: 0;

        .button.fixed {
            display: unset;
            position: fixed;
            left: 1rem;
            top: 0.45rem;
            z-index: 9999;
        }

        .part-1 {
            position: fixed;
            left: 4rem;
            z-index: 9999;

            .image {
                width: 45px;
            }
        }

        &.is-active {
            width: 45px;
            padding: 0 0.5rem 0.5rem;
            margin-left: 0;
            .button.fixed {
                left: 3.5rem;
            }

            .part-1 {
                position: unset;
            }
        }
    }
    .profile .title {
        font-size: 1rem;
    }

    .gallery.layout-square {
        --columns: 1;
        --content-width: 180px;
    }

    .header,
    .main-content {
        margin-left: 0;
    }
}
