$card-content-padding: 1rem;
$card-header-padding: 0.5rem 1rem;
$spacing: 1rem;
$box-radius: 2px;
$box-padding: 0;
$radius-small: 0px !default;
$radius: 2px !default;
$radius-large: 2px !default;
$primary: #333;
$link: $primary;
$card-shadow: 0 0px 1px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
$section-padding: 1rem 1.5rem;
$footer-padding: 3rem 1.5rem;
$card-footer-padding: 0.75rem 1rem;
$dropdown-item-active-background-color: #EEE;
$dropdown-item-hover-color: brown;
$dropdown-item-active-color: brown;
$navbar-height: 2.75rem;
$dropdown-content-padding-bottom: 0;
$dropdown-content-padding-top: 0;
$modal-background-background-color: rgba(0, 0, 0, 0.4);
$border-color: #EEE;
$card-shadow: 0px 0px 1px 1px #EEE;
$card-media-margin: 0.5rem;
$progress-border-radius: 2px;
$navbar-item-img-max-height: 2em;
$tabs-link-active-color: #FFF;
$body-weight: 500;
$body-color: rgb(55, 53, 47);
$body-font-size: 14px;
$body-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

@import "~bulma/bulma";
@import "functions";
@import "mixins";
@import "grid";
@import "./mapbox-gl.css";

body {
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}

.container {
    padding: 0 1rem;

    &.small {
        max-width: 700px;
    }

    &.large {
        max-width: 1080px;
    }

    &.extra {
        max-width: 100%;
        padding: 0;
    }
}

.card {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    .inside {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        a,
        p,
        h3 {
            color: #FFFFFF !important;
        }

        &.hover {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(15, 126, 124, 1) 100%);
            opacity: 0;
        }
    }

    &:hover {
        .hover {
            opacity: 1;
        }
    }

    .carousel {
        min-height: unset;
    }

    .carousel .carousel-items {
        overflow: unset;
    }
}

.image {
    img {
        width: 100%;
    }
}

.user.media {
    padding-top: 0;
    line-height: 1;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-top: 0;

    .media-left {
        margin-right: 0.5rem;
    }
}

.meta {
    line-height: 1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .elm {
        margin-right: 0.5rem;
    }
}

.info {
    font-size: 0.75rem;

    .price {
        background-color: #388412;
        color: #FFF;

        .icon {
            color: #FFFFFF;
        }
    }

    .button,
    &.buttons {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        height: 1.25rem;


        .is-text {
            text-decoration: none;
        }
    }

    .icon {
        color: gray;
        font-size: 0.65rem;
    }
}

.hero-body {
    padding: 3rem 0;
}

.card.post {
    p {
        font-size: 14px;
        color: #333333;
    }
}

.layout-square.card.post .card-content.content {
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        color: #9e9e9e;
    }
}

img {
    margin-bottom: -5px;
}

.input, .taginput .taginput-container.is-focusable, .textarea, .select select {
    border-radius: 2px;
}

.has-icons-left .textarea {
    padding-left: 2.25em;
}

.upload {
    width: 100%;
    height: 100%;

    .upload-draggable {
        border-radius: 0;
        width: 100%;
        height: fit-content;
        border-color: #efefef;
        border-width: 2px;

        .section {
            padding: 2rem 0;
        }
    }
}

.button.is-text {
    text-decoration: none;
}

.button {
    img {
        max-height: unset;
    }
}

.vote.button {
    display: inline-table;
}

.title {
    .input {
        font-size: 1.5rem;
    }
}

.main-content {
    min-height: calc(100vh - 53px);
}

.header {
    z-index: 31;
    position: relative;
}

img.is-round {
    border-radius: 3px;
}

.input, .textarea, .select select {
    border-color: #efefef;
    box-shadow: unset;
}

.meta {
    display: inline-flex;

    .title {
        margin-bottom: 0;
        font-size: 1rem;
    }

    .item {
        margin-right: 2rem;
    }
}

.title {
    .icon {
        height: 3.25rem !important;
    }

    .control.has-icons-left .input, .control.has-icons-left .select select {
        padding-left: 2.25rem;
    }
}

.hidden {
    display: none;
}

.carousel {
    min-height: 60px;
}

.carousel-list.has-shadow {
    box-shadow: unset;
}

.mapbox-missing-css {
    display: none;
}

.input, .taginput .taginput-container.is-focusable, .textarea {
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: unset;
    border-color: $border-color;
}

.clickable {
    cursor: pointer;
}

.author {
    font-weight: bold;
}

.columns.is-variable .column {
    padding: var(--columnGap);
}

li.is-active a {
    background-color: #3273dc;
    border-color: #3273dc;
    color: #fff;
    z-index: 1;
}

.fixed {
    position: fixed;

    &.right {
        right: 1rem;
        bottom: 1rem;
    }
}

.navbar-item {
    font-weight: 500;
}

:focus {
    outline: unset;
}

.dropdown-item {
    padding: .75rem;
    border-bottom: 1px solid #EEEEEE;
}

.datepicker .dropdown-content {
    border-radius: 0;
}

.datepicker .datepicker-table .datepicker-cell {
    padding: 0.5rem 0.5rem;
    border-radius: 0;
}

.autocomplete .dropdown-menu,
.dropdown:not(.is-top-right) .dropdown-menu {
    top: calc(100% + 10px);

    &:before {
        @include triangle(top, #1515150f, 0.75rem);
        position: absolute;
        top: -7px;
        left: 8px;
    }

    &:after {
        @include triangle(top, #FFF, 0.6rem);
        position: absolute;
        top: -5px;
        left: 10px;
        z-index: 4;
    }
}

.dropdown.is-top-right .dropdown-menu {
    bottom: calc(100% + 10px) !important;

    &:before {
        @include triangle(bottom, #1515150f, 0.75rem);
        position: absolute !important;
        bottom: -12px !important;
        left: 8px !important;
    }

    &:after {
        @include triangle(bottom, #FFF, 0.6rem);
        position: absolute !important;
        bottom: -10px !important;
        left: 10px !important;
        z-index: 4;
    }
}

.dropdown-content,
.datepicker .dropdown-content {
    z-index: 3;
    position: relative;
    box-shadow: rgba(15, 15, 15, 0.05) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 3px 6px, rgba(15, 15, 15, 0.2) 0 9px 24px;
}

.modal-card-head, .modal-card-foot {
    background-color: #ffffff;
    border: 0;
}

.modal.allow-scroll {
    overflow: auto;

    .modal-background {
        position: fixed;
    }

    .modal-card-body {
        overflow: unset;
    }

    .modal-content {
        overflow: unset;
    }
}

.is-fullheight {
    height: 100%;
}

.pop_update_data {
    background-color: #FFF;
    padding: 1.5rem;
}

.image {
    img {
        object-fit: cover;
    }
}

.notification {
    margin-bottom: .5rem;
}

.widget {
    margin-bottom: 1rem;
}

.widget_title {
    font-size: 1rem;
    font-weight: bold;

    &:not(:last-child) {
        margin-bottom: .5rem;
    }
}

.statistic {
    .level {
        margin-bottom: .5rem;
    }
}

.logo {
    .x {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .y {
        font-size: .75rem;
    }
}

.autocomplete .dropdown-menu,
.dropdown:not(.is-top-right) .dropdown-menu {
    top: calc(100% + 5px);
    padding-top: 10px;

    &:before {
        @include triangle(top, #1515150f, 12px);
        position: absolute;
        top: -1px;
        left: 8px;
    }

    &:after {
        @include triangle(top, #FFF, 11px);
        position: absolute;
        top: 1px;
        left: 9px;
        z-index: 4;
    }
}

.dropdown.is-top-right .dropdown-menu {
    bottom: calc(100% + 10px) !important;

    &:before {
        @include triangle(bottom, #1515150f, 10px);
        position: absolute !important;
        bottom: -8px !important;
        left: 9px !important;
    }

    &:after {
        @include triangle(bottom, #FFF, 9px);
        position: absolute !important;
        bottom: -7px !important;
        left: 10px !important;
        z-index: 4;
    }
}

.dropdown.is-bottom-left .dropdown-menu {
    &:before {
        right: 8px;
        left: unset;
    }

    &:after {
        left: unset;
        right: 9px;
    }
}

.column {
    .widget {
        height: 100%;

        .user-card.large {
            height: 100%;
        }
    }
}

.image {
    .b-skeleton {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@import "mobile";
